@import "./variables";
@import url("./_main.scss");
@import url("./_modal.scss");
@import url("./_header.scss");
@import url("./_footer.scss");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $paleCyan;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
